@import url("https://fonts.googleapis.com/css?family=Cabin:400,700,500,600");
/* line 1, ../../_sass/_mixer-reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
caption, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* line 17, ../../_sass/_mixer-reset.scss */
html {
  line-height: 1;
}

/* line 20, ../../_sass/_mixer-reset.scss */
q, blockquote {
  quotes: none;
}

/* line 23, ../../_sass/_mixer-reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 27, ../../_sass/_mixer-reset.scss */
a img {
  border: none;
}

/* line 30, ../../_sass/_mixer-reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../_sass/_mixer-scaffolding.scss */
body {
  color: #333;
  font-size: 16px;
  font-family: "Cabin", sans-serif;
  line-height: 20px;
  margin: 0;
  padding: 0;
  background: #f8f8f8 url("../../Pics/bg/KGY_Bodybg_02.png") repeat-x center -1px;
  font-size: 16px;
}
/* line 85, ../../_sass/_mixer-blocks.scss */
body a {
  color: #490909;
  text-decoration: none;
}
/* line 24, ../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #7a0b0b;
}
/* line 88, ../../_sass/_mixer-blocks.scss */
body a:hover {
  text-decoration: underline;
}
/* line 4, ../../_sass/_mixer-scaffolding.scss */
body a {
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}

/* line 13, ../../_sass/_mixer-scaffolding.scss */
#siteheader {
  height: auto;
  *zoom: 1;
  margin: 0;
  padding: 0;
  background: url("../../Pics/bg/KGY_headerbg_02.png") repeat-x center top;
}
/* line 18, ../../_sass/_mixer-mixins.scss */
#siteheader:before, #siteheader:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 26, ../../_sass/_mixer-mixins.scss */
#siteheader:after {
  clear: both;
}
/* line 17, ../../_sass/_mixer-scaffolding.scss */
#siteheader .container {
  margin: 0 auto;
  background: url("../../Pics/bg/KGY_mastheadbg_02_02.png") no-repeat center top;
}
/* line 21, ../../_sass/_mixer-scaffolding.scss */
#siteheader .content-area {
  margin: 0 auto;
  width: 1010px;
}
/* line 24, ../../_sass/_mixer-scaffolding.scss */
#siteheader .logo {
  margin: 40px 0px;
}

/* line 31, ../../_sass/_mixer-scaffolding.scss */
#sitecontent {
  background: url("../../Pics/bg/KGY_Contentbg_05.png") no-repeat center top;
}
/* line 33, ../../_sass/_mixer-scaffolding.scss */
#sitecontent > .container {
  margin: 0 auto;
  padding: 5px 15px 15px;
  background: white;
  width: 980px;
}
/* line 28, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .row {
  margin-left: -15px;
  *zoom: 1;
  clear: both;
}
/* line 18, ../../_sass/_mixer-mixins.scss */
#sitecontent > .container .row:before, #sitecontent > .container .row:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 26, ../../_sass/_mixer-mixins.scss */
#sitecontent > .container .row:after {
  clear: both;
}
/* line 34, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .masthead-cnt-right {
  width: 120px;
  float: right;
}
/* line 36, ../../_sass/_mixer-grid.scss */
#sitecontent > .container [class*="span"], #sitecontent > .container .sidebar {
  float: left;
  margin-left: 15px;
}
/* line 42, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .sidebar {
  width: 0;
}
/* line 44, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .sidebar.alpha {
  margin-right: 15px;
}
/* line 47, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .sidebar.omega {
  margin-left: 15px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .span12 {
  width: 965px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .span11 {
  width: 883.3333333333px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .span10 {
  width: 801.6666666667px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .span9 {
  width: 720px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .span8 {
  width: 638.3333333333px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .span7 {
  width: 556.6666666667px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .span6 {
  width: 475px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .span5 {
  width: 393.3333333333px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .span4 {
  width: 311.6666666667px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .span3 {
  width: 230px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .span2 {
  width: 148.3333333333px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .span1 {
  width: 66.6666666667px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .offset12 {
  margin-left: 995px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .offset11 {
  margin-left: 913.3333333333px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .offset10 {
  margin-left: 831.6666666667px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .offset9 {
  margin-left: 750px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .offset8 {
  margin-left: 668.3333333333px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .offset7 {
  margin-left: 586.6666666667px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .offset6 {
  margin-left: 505px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .offset5 {
  margin-left: 423.3333333333px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .offset4 {
  margin-left: 341.6666666667px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .offset3 {
  margin-left: 260px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .offset2 {
  margin-left: 178.3333333333px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .offset1 {
  margin-left: 96.6666666667px;
}
/* line 90, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .row > .skin {
  margin-left: 15px;
}
/* line 92, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .row > .skin [class*="span"] {
  float: left;
  margin-left: 0;
  margin-top: 0;
}
/* line 97, ../../_sass/_mixer-grid.scss */
#sitecontent > .container .row > .skin [class*="span"] + [class*="span"] {
  margin-left: 7.5px;
}
/* line 28, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .row {
  margin-left: -15px;
  *zoom: 1;
  clear: both;
}
/* line 18, ../../_sass/_mixer-mixins.scss */
#sitecontent > .container.grid_sbA .row:before, #sitecontent > .container.grid_sbA .row:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 26, ../../_sass/_mixer-mixins.scss */
#sitecontent > .container.grid_sbA .row:after {
  clear: both;
}
/* line 34, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .masthead-cnt-right {
  width: 120px;
  float: right;
}
/* line 36, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA [class*="span"], #sitecontent > .container.grid_sbA .sidebar {
  float: left;
  margin-left: 15px;
}
/* line 42, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .sidebar {
  width: 300px;
}
/* line 44, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .sidebar.alpha {
  margin-right: 15px;
}
/* line 47, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .sidebar.omega {
  margin-left: 15px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .span12 {
  width: 665px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .span11 {
  width: 608.3333333333px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .span10 {
  width: 551.6666666667px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .span9 {
  width: 495px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .span8 {
  width: 438.3333333333px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .span7 {
  width: 381.6666666667px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .span6 {
  width: 325px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .span5 {
  width: 268.3333333333px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .span4 {
  width: 211.6666666667px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .span3 {
  width: 155px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .span2 {
  width: 98.3333333333px;
}
/* line 55, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .span1 {
  width: 41.6666666667px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .offset12 {
  margin-left: 695px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .offset11 {
  margin-left: 638.3333333333px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .offset10 {
  margin-left: 581.6666666667px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .offset9 {
  margin-left: 525px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .offset8 {
  margin-left: 468.3333333333px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .offset7 {
  margin-left: 411.6666666667px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .offset6 {
  margin-left: 355px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .offset5 {
  margin-left: 298.3333333333px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .offset4 {
  margin-left: 241.6666666667px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .offset3 {
  margin-left: 185px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .offset2 {
  margin-left: 128.3333333333px;
}
/* line 86, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .offset1 {
  margin-left: 71.6666666667px;
}
/* line 90, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .row > .skin {
  margin-left: 15px;
}
/* line 92, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .row > .skin [class*="span"] {
  float: left;
  margin-left: 0;
  margin-top: 0;
}
/* line 97, ../../_sass/_mixer-grid.scss */
#sitecontent > .container.grid_sbA .row > .skin [class*="span"] + [class*="span"] {
  margin-left: 7.5px;
}
/* line 52, ../../_sass/_mixer-scaffolding.scss */
#sitecontent .content-area {
  margin: 15px 0 0;
}

/* line 58, ../../_sass/_mixer-scaffolding.scss */
#sitefooter {
  *zoom: 1;
  color: #000000;
  text-align: none;
  background: url("../../Pics/bg/KGY_Footerbg_03.png") repeat-x center top;
  overflow: hidden;
  height: 276px;
}
/* line 18, ../../_sass/_mixer-mixins.scss */
#sitefooter:before, #sitefooter:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 26, ../../_sass/_mixer-mixins.scss */
#sitefooter:after {
  clear: both;
}
/* line 85, ../../_sass/_mixer-blocks.scss */
#sitefooter a {
  color: #000000;
}
/* line 24, ../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#sitefooter a:hover {
  color: #000000;
}
/* line 63, ../../_sass/_mixer-scaffolding.scss */
#sitefooter .container {
  margin: 0 auto;
  padding: 20px 0 0;
  background: url("../../Pics/bg/KGY_footer_Centerbg_05.png") no-repeat center top;
  width: 1010px;
  height: 276px;
}
/* line 68, ../../_sass/_mixer-scaffolding.scss */
#sitefooter .content-area {
  margin-top: 0;
}
/* line 73, ../../_sass/_mixer-scaffolding.scss */
#sitefooter .logo {
  float: left;
}
/* line 77, ../../_sass/_mixer-scaffolding.scss */
#sitefooter .link-list {
  margin-left: 40px;
  list-style: none;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.98em;
  font-family: "Cabin", sans-serif;
  margin: 2px auto;
  padding: 10px 2px;
  clear: none;
  width: 628px;
}
/* line 88, ../../_sass/_mixer-blocks.scss */
#sitefooter .link-list a:hover {
  text-decoration: none;
}
/* line 83, ../../_sass/_mixer-scaffolding.scss */
#sitefooter .link-list li {
  display: inline;
  padding: 10px 2px;
}
/* line 87, ../../_sass/_mixer-scaffolding.scss */
#sitefooter .link-list li a {
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
}
/* line 24, ../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#sitefooter .link-list li a:hover {
  color: #ffffff;
}
/* line 77, ../../_sass/_mixer-blocks.scss */
#sitefooter .link-list li a:hover {
  text-decoration: none;
}
/* line 92, ../../_sass/_mixer-scaffolding.scss */
#sitefooter .link-list li a:hover {
  background-color: #9abb17;
}
/* line 97, ../../_sass/_mixer-scaffolding.scss */
#sitefooter .mi-copyright {
  opacity: 0.7;
  filter: alpha(opacity=70);
  display: block;
  clear: both;
  font-style: italic;
}
/* line 103, ../../_sass/_mixer-scaffolding.scss */
#sitefooter .logo-mi {
  margin: 0 0 0 -4px;
}

/* line 115, ../../_sass/_mixer-scaffolding.scss */
h1 {
  font-size: 2.8em;
  line-height: 1.1em;
}

/* line 120, ../../_sass/_mixer-scaffolding.scss */
h2 {
  font-size: 2.24em;
  line-height: 1.2em;
}

/* line 125, ../../_sass/_mixer-scaffolding.scss */
h3 {
  font-size: 1.8em;
  line-height: 1.4em;
}

/* line 130, ../../_sass/_mixer-scaffolding.scss */
h4 {
  font-size: 1.4em;
  line-height: 1.6em;
}

/* line 135, ../../_sass/_mixer-scaffolding.scss */
h5 {
  font-size: 1.2em;
  line-height: 1.4em;
}

/* line 140, ../../_sass/_mixer-scaffolding.scss */
h6 {
  font-size: 1em;
  line-height: 1.1em;
}

/* line 145, ../../_sass/_mixer-scaffolding.scss */
p {
  margin: 0 0 0.2em;
}

/* line 153, ../../_sass/_mixer-scaffolding.scss */
.image_align_center {
  display: block;
  margin: 0 auto;
  clear: both;
}

/* line 158, ../../_sass/_mixer-scaffolding.scss */
.image_align_top_left {
  display: block;
  float: left;
  margin: 0 12px 12px 0;
}

/* line 163, ../../_sass/_mixer-scaffolding.scss */
.image_align_top_right {
  display: block;
  float: right;
  margin: 0 12px 0 12px;
}

/* line 168, ../../_sass/_mixer-scaffolding.scss */
.image_no_text_wrap {
  display: block;
  margin: 0 0 12px 0;
  clear: both;
}

/* line 17, ../../_sass/_mixer-nav.scss */
.navigation-menu {
  position: relative;
  list-style: none;
}
/* line 11, ../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/typography/lists/_bullets.scss */
.navigation-menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 9, ../../_sass/_mixer-nav.scss */
.navigation-menu > li > a {
  padding: 0;
}
/* line 22, ../../_sass/_mixer-nav.scss */
.navigation-menu > li > a {
  display: block;
}
/* line 26, ../../_sass/_mixer-nav.scss */
.navigation-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 32, ../../_sass/_mixer-nav.scss */
.navigation-menu.nav-horizontal > li {
  text-align: center;
  float: left;
}
/* line 36, ../../_sass/_mixer-nav.scss */
.navigation-menu.nav-horizontal > li.reverse ul {
  left: auto;
  right: 0;
}
/* line 40, ../../_sass/_mixer-nav.scss */
.navigation-menu.nav-horizontal > li.reverse li ul {
  right: 100%;
}
/* line 43, ../../_sass/_mixer-nav.scss */
.navigation-menu.nav-horizontal li:hover > ul {
  text-align: left;
  top: 100%;
  opacity: 0.98;
  filter: alpha(opacity=98);
}
/* line 49, ../../_sass/_mixer-nav.scss */
.navigation-menu.nav-vertical {
  width: 200px;
}
/* line 51, ../../_sass/_mixer-nav.scss */
.navigation-menu.nav-vertical li {
  width: 200px;
}
/* line 54, ../../_sass/_mixer-nav.scss */
.navigation-menu.nav-vertical li:hover > ul {
  text-align: left;
  top: 0%;
  left: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 61, ../../_sass/_mixer-nav.scss */
.navigation-menu li {
  position: relative;
}
/* line 64, ../../_sass/_mixer-nav.scss */
.navigation-menu > li {
  margin-left: 0;
}
/* line 68, ../../_sass/_mixer-nav.scss */
.navigation-menu ul {
  position: absolute;
  z-index: 30000;
  opacity: 0;
  filter: alpha(opacity=0);
  top: -9999px;
  left: 0;
}
/* line 74, ../../_sass/_mixer-nav.scss */
.navigation-menu ul li {
  text-align: left;
}
/* line 76, ../../_sass/_mixer-nav.scss */
.navigation-menu ul li .sub-indicator {
  font-size: 1.8em;
  height: 1em;
  line-height: 1;
  display: block;
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -0.5em;
  opacity: 0.7;
}
/* line 87, ../../_sass/_mixer-nav.scss */
.navigation-menu ul li a {
  display: block;
}
/* line 91, ../../_sass/_mixer-nav.scss */
.navigation-menu ul ul {
  left: 100%;
  font-size: 1em;
}
/* line 99, ../../_sass/_mixer-nav.scss */
.navigation-menu li li:hover > ul {
  top: 0%;
  left: 100%;
}

/* line 105, ../../_sass/_mixer-nav.scss */
#sitenav {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.1em;
  font-family: "Cabin", sans-serif;
  height: 50px;
}
/* line 85, ../../_sass/_mixer-blocks.scss */
#sitenav a {
  color: #ffffff;
}
/* line 24, ../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#sitenav a:hover {
  color: #85007a;
}
/* line 108, ../../_sass/_mixer-nav.scss */
#sitenav #topnav {
  font-family: "Cabin", sans-serif;
  margin: 0 auto;
  padding: 0;
  background: #9ec015;
  padding: 0;
}
/* line 109, ../../_sass/_mixer-nav.scss */
#sitenav #topnav.nav-horizontal {
  height: 50px;
}
/* line 85, ../../_sass/_mixer-blocks.scss */
#sitenav #topnav a {
  color: #ffffff;
}
/* line 24, ../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#sitenav #topnav a:hover {
  color: #ffffff;
}
/* line 117, ../../_sass/_mixer-nav.scss */
#sitenav #topnav > li {
  margin: 0;
  padding: 0;
}
/* line 119, ../../_sass/_mixer-nav.scss */
#sitenav #topnav > li > a {
  padding: 0 28px;
  text-decoration: none;
  line-height: 50px;
}
/* line 77, ../../_sass/_mixer-blocks.scss */
#sitenav #topnav > li > a:hover {
  text-decoration: none;
}
/* line 126, ../../_sass/_mixer-nav.scss */
#sitenav #topnav > li > a:hover {
  background: #64276e;
}
/* line 132, ../../_sass/_mixer-nav.scss */
#sitenav #topnav > li.first > a {
  border: none;
}
/* line 137, ../../_sass/_mixer-nav.scss */
#sitenav #topnav ul {
  width: 200px;
  color: #ffffff;
  text-transform: none;
  text-shadow: none;
  font-weight: normal;
  font-size: 15px;
  font-family: "Cabin", sans-serif;
  line-height: 180%;
  padding: 0px 0px 15px;
  background: #64276e;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
/* line 143, ../../_sass/_mixer-nav.scss */
#sitenav #topnav ul li a {
  padding: 5px 5px 5px 18px;
  color: #ffffff;
  text-decoration: none;
}
/* line 24, ../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#sitenav #topnav ul li a:hover {
  color: #64276e;
}
/* line 77, ../../_sass/_mixer-blocks.scss */
#sitenav #topnav ul li a:hover {
  text-decoration: none;
}
/* line 146, ../../_sass/_mixer-nav.scss */
#sitenav #topnav ul li a:hover {
  background: #ffffff;
}

/* line 178, ../../_sass/_mixer-nav.scss */
#sitenav #topnav a:hover {
  background-color: #64276e;
}

/* line 182, ../../_sass/_mixer-nav.scss */
#topnav li:hover a {
  background-color: #64276e;
}

/* line 186, ../../_sass/_mixer-nav.scss */
#topnav ul ul {
  display: block;
  top: -10px;
}

/* line 191, ../../_sass/_mixer-nav.scss */
#topnav ul ul a {
  padding-left: 10px;
}

/* line 150, ../../_sass/_mixer-controls.scss */
.control [class*=hdiv][style] {
  height: 1px !important;
  overflow: hidden;
}
/* line 155, ../../_sass/_mixer-controls.scss */
.control .control.calendar.upcoming td.dim.date:after {
  content: ' \B7';
}
/* line 158, ../../_sass/_mixer-controls.scss */
.control div.control.upcoming.concerts, .control div.control.upcoming.concerts table td {
  font-size: 1em;
}
/* line 161, ../../_sass/_mixer-controls.scss */
.control .concerts_teaser a:hover h1 {
  text-decoration: underline;
}
/* line 164, ../../_sass/_mixer-controls.scss */
.control div.calendar.details > img.thumb {
  width: 100px;
}
/* line 167, ../../_sass/_mixer-controls.scss */
.control div.calendar.details > img + .title, .control div.calendar.details > img + .title ~ dl, .control div.calendar.details > img + .title ~ .description {
  margin-left: 112px;
}
/* line 170, ../../_sass/_mixer-controls.scss */
.control div.concerts_teaser .metadata {
  font-size: 1em;
  line-height: inherit;
}
/* line 174, ../../_sass/_mixer-controls.scss */
.control div.concerts_teaser h1.caps.accent {
  text-transform: none;
}
/* line 178, ../../_sass/_mixer-controls.scss */
.control img[src='/EI/T/Images/Poll/poll_shade.gif'] {
  margin: .25em 0;
}
/* line 181, ../../_sass/_mixer-controls.scss */
.control .button_poll a {
  cursor: pointer;
}
/* line 185, ../../_sass/_mixer-controls.scss */
.control [id$=lblContestDescription] + br {
  display: none;
}
/* line 189, ../../_sass/_mixer-controls.scss */
.control div.podcasts .podcastLinks li.rss {
  text-align: left;
}
/* line 193, ../../_sass/_mixer-controls.scss */
.control div.photogallery.teaser .caption > a[id$=lnkAlbum] {
  display: inline;
}
/* line 197, ../../_sass/_mixer-controls.scss */
.control .photogallery.teaser.singlegallery li + li {
  padding-left: 6px !important;
}
/* line 202, ../../_sass/_mixer-controls.scss */
.control .feedHome > .entry {
  /*background-image:none !important; Gets rid of dividers*/
}
/* line 207, ../../_sass/_mixer-controls.scss */
.control .calendar td.date {
  width: 1px;
}
/* line 210, ../../_sass/_mixer-controls.scss */
.control .calendar.upcoming td.dim.date:after {
  content: ' \B7';
}
/* line 213, ../../_sass/_mixer-controls.scss */
.control .calendar.details > img.thumb {
  width: 100px;
}
/* line 218, ../../_sass/_mixer-controls.scss */
.control .upcoming.concerts table td {
  font-size: 1em;
}
/* line 222, ../../_sass/_mixer-controls.scss */
.control .concerts_teaser a:hover h1 {
  text-decoration: underline;
}
/* line 225, ../../_sass/_mixer-controls.scss */
.control div.calendardiv.calendar.details > img + .title, .control div.calendar.details > img + .title ~ dl, .control div.calendar.details > img + .title ~ .description {
  margin-left: 112px;
}
/* line 228, ../../_sass/_mixer-controls.scss */
.control div.concerts_teaser .metadata {
  font-size: 1em;
  line-height: inherit;
}
/* line 232, ../../_sass/_mixer-controls.scss */
.control div.concerts_teaser h1.caps.accent {
  text-transform: none;
}
/* line 237, ../../_sass/_mixer-controls.scss */
.control img[src='/EI/T/Images/Poll/poll_shade.gif'] {
  margin: .25em 0;
}
/* line 240, ../../_sass/_mixer-controls.scss */
.control .button_poll a {
  cursor: pointer;
}
/* line 244, ../../_sass/_mixer-controls.scss */
.control [id$=lblContestDescription] + br {
  display: none;
}
/* line 249, ../../_sass/_mixer-controls.scss */
.control .podcasts .container {
  width: auto !important;
}
/* line 253, ../../_sass/_mixer-controls.scss */
.control .podcasts .podcastLinks li.rss {
  text-align: left;
}

/* line 29, ../../_sass/_mixer-controls.scss */
.title, .largeheader, .header,
.cr h2, div h2.dark, .podcastTitle,
.closings h2.accent, .episodeTitle {
  color: #3c3c3c;
  font-weight: 400;
  font-size: 1.6em;
  font-family: "Cabin", sans-serif;
  line-height: 120%;
  margin: 0 0 10px;
}
/* line 85, ../../_sass/_mixer-blocks.scss */
.title a, .largeheader a, .header a,
.cr h2 a, div h2.dark a, .podcastTitle a,
.closings h2.accent a, .episodeTitle a {
  color: #3c3c3c;
}
/* line 24, ../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.title a:hover, .largeheader a:hover, .header a:hover,
.cr h2 a:hover, div h2.dark a:hover, .podcastTitle a:hover,
.closings h2.accent a:hover, .episodeTitle a:hover {
  color: #3c3c3c;
}

/* line 35, ../../_sass/_mixer-controls.scss */
.subheader, .episodeTitle,
.subtitle {
  color: #515151;
  font-weight: 100;
  font-size: 1.223em;
  margin: -10px 0 -2px;
}

/* line 43, ../../_sass/_mixer-controls.scss */
.blogs.teaser.headlines .title, .teaserList .title, .teaserList li .title, li .title {
  font-size: 1.385em;
}
/* line 46, ../../_sass/_mixer-controls.scss */
.blogs.teaser.headlines .subtitle, .teaserList .subtitle, .teaserList li .subtitle, li .subtitle {
  font-size: 1.1em;
}

/* line 50, ../../_sass/_mixer-controls.scss */
.photogallery.teaser.aggregated h5 {
  font-size: 1.385em;
}

/* line 55, ../../_sass/_mixer-controls.scss */
.dim, .minidim, .microdim, .minidimheader, .caption, .miniheader, .sblabel, .rmheader, .minidimheader, .dark, .description {
  color: #91979d;
}

/* line 81, ../../_sass/_mixer-controls.scss */
.readMore, .readmore, .moreLink {
  text-transform: lowercase;
  font-weight: bold;
  font-size: 1.1546875125em;
}

/* line 92, ../../_sass/_mixer-controls.scss */
.control .bgTitleBar {
  padding: 10px 0px;
  border-top: 1px solid #d9dbde;
  border-right: none;
  border-bottom: 1px solid #d9dbde;
  border-left: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: none;
}
/* line 96, ../../_sass/_mixer-controls.scss */
.control .btnBar, .control .tabbedNavList {
  padding: 12px;
  border-top: 1px #d5dae0 solid;
  border-right: 1px #d5dae0 solid;
  border-bottom: 1px #d5dae0 solid;
  border-left: 1px #d5dae0 solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: none;
}
/* line 127, ../../_sass/_mixer-controls.scss */
.control .rowOdd, .control .sbtrdef, .control .trdef, .control .defined, .control .default {
  margin: 0px 0px 10px;
  padding: 10px 0px 10px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background: none;
}
/* line 131, ../../_sass/_mixer-controls.scss */
.control .rowEven, .control .sbtralt, .control .tralt, .control .alt, .control .alternating {
  margin: 5px 0;
  padding: 10px 0px 10px;
  border-bottom: 1px #d5dae0 solid;
  background: none;
}

/* line 77, ../../_sass/_mixer-skins.scss */
.skin .entry-section {
  margin-top: 20px;
}

/* line 82, ../../_sass/_mixer-skins.scss */
.skin .entry-section p {
  margin: 20px 0px 20px;
}

/* line 86, ../../_sass/_mixer-skins.scss */
.s01 header h2, .s01-alt header h2, .s02 header h2 {
  clear: both;
}

/* line 90, ../../_sass/_mixer-skins.scss */
.skin + .skin {
  margin-top: 15px;
}

/* line 96, ../../_sass/_mixer-skins.scss */
.s01, .s01-alt, .s02 {
  *zoom: 1;
  padding: 1em;
  background: white;
}
/* line 18, ../../_sass/_mixer-mixins.scss */
.s01:before, .s01-alt:before, .s02:before, .s01:after, .s01-alt:after, .s02:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 26, ../../_sass/_mixer-mixins.scss */
.s01:after, .s01-alt:after, .s02:after {
  clear: both;
}
/* line 85, ../../_sass/_mixer-blocks.scss */
.s01 a, .s01-alt a, .s02 a {
  color: #662770;
}
/* line 24, ../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.s01 a:hover, .s01-alt a:hover, .s02 a:hover {
  color: #2A0E30;
}
/* line 20, ../../_sass/_mixer-skins.scss */
.s01 header, .s01-alt header, .s02 header {
  margin: -1em -1em 0;
  padding: 0.5em 1em;
  background: #9DBF15 url("../../Pics/bg/0ed2f06f.png") repeat center top;
}
/* line 22, ../../_sass/_mixer-skins.scss */
.s01 header.inset, .s01-alt header.inset, .s02 header.inset {
  margin: 0;
  padding: 0;
}
/* line 25, ../../_sass/_mixer-skins.scss */
.s01 header.inset img, .s01-alt header.inset img, .s02 header.inset img {
  display: block;
}
/* line 29, ../../_sass/_mixer-skins.scss */
.s01 header h2, .s01-alt header h2, .s02 header h2 {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.575em;
  font-family: "Helvetica", sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0;
}
/* line 85, ../../_sass/_mixer-blocks.scss */
.s01 header h2 a, .s01-alt header h2 a, .s02 header h2 a {
  color: #ffffff;
}
/* line 24, ../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.s01 header h2 a:hover, .s01-alt header h2 a:hover, .s02 header h2 a:hover {
  color: #ffffff;
}
/* line 34, ../../_sass/_mixer-skins.scss */
.s01 nav, .s01-alt nav, .s02 nav {
  *zoom: 1;
  clear: both;
  color: #464646;
  font-weight: bold;
  font-size: 0.769em;
  margin: 0.5em 0 10px;
}
/* line 18, ../../_sass/_mixer-mixins.scss */
.s01 nav:before, .s01-alt nav:before, .s02 nav:before, .s01 nav:after, .s01-alt nav:after, .s02 nav:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 26, ../../_sass/_mixer-mixins.scss */
.s01 nav:after, .s01-alt nav:after, .s02 nav:after {
  clear: both;
}
/* line 37, ../../_sass/_mixer-skins.scss */
.s01 nav ul, .s01-alt nav ul, .s02 nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  float: none;
}
/* line 43, ../../_sass/_mixer-skins.scss */
.s01 nav ul li, .s01-alt nav ul li, .s02 nav ul li {
  float: left;
  margin-right: 0.5em;
}
/* line 46, ../../_sass/_mixer-skins.scss */
.s01 nav ul li a, .s01-alt nav ul li a, .s02 nav ul li a {
  color: #515151;
}
/* line 50, ../../_sass/_mixer-skins.scss */
.s01 nav ul li + li, .s01-alt nav ul li + li, .s02 nav ul li + li {
  border-left: 1px solid #515151;
  padding-left: 0.5em;
}
/* line 56, ../../_sass/_mixer-skins.scss */
.s01 nav.footlinks ul, .s01-alt nav.footlinks ul, .s02 nav.footlinks ul {
  float: none;
}
/* line 59, ../../_sass/_mixer-skins.scss */
.s01 nav.footlinks li, .s01-alt nav.footlinks li, .s02 nav.footlinks li {
  float: left;
}
/* line 66, ../../_sass/_mixer-skins.scss */
.s01 nav.footlinks li + li, .s01-alt nav.footlinks li + li, .s02 nav.footlinks li + li {
  border-left: 1px solid;
}
/* line 72, ../../_sass/_mixer-skins.scss */
.s01 .skin-content, .s01-alt .skin-content, .s02 .skin-content {
  margin: 0px 0px;
  padding: 0 0;
}

/* line 104, ../../_sass/_mixer-skins.scss */
.s01-alt {
  *zoom: 1;
  margin: 0px 0px;
  padding: 1em;
}
/* line 18, ../../_sass/_mixer-mixins.scss */
.s01-alt:before, .s01-alt:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 26, ../../_sass/_mixer-mixins.scss */
.s01-alt:after {
  clear: both;
}
/* line 20, ../../_sass/_mixer-skins.scss */
.s01-alt header {
  background: #461B4D url("../../Pics/bg/3f63d0f3.png") repeat center top;
}
/* line 22, ../../_sass/_mixer-skins.scss */
.s01-alt header.inset {
  margin: 0;
  padding: 0;
}
/* line 25, ../../_sass/_mixer-skins.scss */
.s01-alt header.inset img {
  display: block;
}
/* line 29, ../../_sass/_mixer-skins.scss */
.s01-alt header h2 {
  margin: 0px 0px 0px 0px;
}
/* line 34, ../../_sass/_mixer-skins.scss */
.s01-alt nav {
  *zoom: 1;
  clear: both;
  color: #464646;
  font-weight: bold;
  font-size: 0.769em;
  margin: 0.5em 0 10px;
}
/* line 18, ../../_sass/_mixer-mixins.scss */
.s01-alt nav:before, .s01-alt nav:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 26, ../../_sass/_mixer-mixins.scss */
.s01-alt nav:after {
  clear: both;
}
/* line 37, ../../_sass/_mixer-skins.scss */
.s01-alt nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  float: left;
}
/* line 43, ../../_sass/_mixer-skins.scss */
.s01-alt nav ul li {
  float: left;
}
/* line 50, ../../_sass/_mixer-skins.scss */
.s01-alt nav ul li + li {
  border-left: 1px solid;
}
/* line 56, ../../_sass/_mixer-skins.scss */
.s01-alt nav.footlinks ul {
  float: left;
}
/* line 59, ../../_sass/_mixer-skins.scss */
.s01-alt nav.footlinks li {
  float: left;
}
/* line 66, ../../_sass/_mixer-skins.scss */
.s01-alt nav.footlinks li + li {
  border-left: 1px solid;
}

/* line 124, ../../_sass/_mixer-skins.scss */
.s02 {
  *zoom: 1;
  color: #000000;
  padding: 1em;
  border-top: 1px #C4D93F solid;
  border-right: 1px #C4D93F solid;
  border-bottom: 1px #C4D93F solid;
  border-left: 1px #C4D93F solid;
  background: #ffffff;
}
/* line 18, ../../_sass/_mixer-mixins.scss */
.s02:before, .s02:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 26, ../../_sass/_mixer-mixins.scss */
.s02:after {
  clear: both;
}
/* line 20, ../../_sass/_mixer-skins.scss */
.s02 header {
  background: none;
}
/* line 22, ../../_sass/_mixer-skins.scss */
.s02 header.inset {
  margin: 0;
  padding: 0;
}
/* line 25, ../../_sass/_mixer-skins.scss */
.s02 header.inset img {
  display: block;
}
/* line 29, ../../_sass/_mixer-skins.scss */
.s02 header h2 {
  color: #662770;
  margin: 0 0 0 0px;
}
/* line 34, ../../_sass/_mixer-skins.scss */
.s02 nav {
  *zoom: 1;
  clear: both;
}
/* line 18, ../../_sass/_mixer-mixins.scss */
.s02 nav:before, .s02 nav:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 26, ../../_sass/_mixer-mixins.scss */
.s02 nav:after {
  clear: both;
}
/* line 37, ../../_sass/_mixer-skins.scss */
.s02 nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  float: left;
}
/* line 43, ../../_sass/_mixer-skins.scss */
.s02 nav ul li {
  float: left;
}
/* line 50, ../../_sass/_mixer-skins.scss */
.s02 nav ul li + li {
  border-left: 1px solid;
}
/* line 56, ../../_sass/_mixer-skins.scss */
.s02 nav.footlinks ul {
  float: left;
}
/* line 59, ../../_sass/_mixer-skins.scss */
.s02 nav.footlinks li {
  float: left;
}
/* line 66, ../../_sass/_mixer-skins.scss */
.s02 nav.footlinks li + li {
  border-left: 1px solid;
}

/* line 144, ../../_sass/_mixer-skins.scss */
.s01 nav.footlinks ul, .s01-alt nav.footlinks ul, .s02 nav.footlinks ul {
  line-height: 70%;
  margin-top: 10px;
}

/* line 147, ../../_sass/_mixer-skins.scss */
.s01 nav ul, .s01-alt nav ul, .s02 nav ul {
  line-height: 110% !important;
}

/* line 151, ../../_sass/_mixer-skins.scss */
.skin .skin-content {
  padding-top: 0px 0px 10px !important;
  line-height: 150%;
}

/* line 156, ../../_sass/_mixer-skins.scss */
.skin .entry-section {
  padding: 5px 0px 0px !important;
  line-height: 150%;
}

/* line 28, ../../_sass/theme.scss */
.header_cnt_ad {
  display: block;
  height: 90px;
  width: 1000px;
  text-align: center;
}
/* line 33, ../../_sass/theme.scss */
.header_cnt_ad img {
  margin: 0 auto;
  position: relative;
  top: 10px;
}

/* line 36, ../../_sass/theme.scss */
.header_ad {
  display: block;
  height: 86px;
  margin: 16px auto;
  width: 760px;
}

/* line 43, ../../_sass/theme.scss */
#masthead {
  width: 1010px;
  clear: both;
  display: block;
  height: 206px;
  margin: 0px auto 0;
}

/* line 51, ../../_sass/theme.scss */
.masthead-cnt-left {
  float: left;
  height: 170px;
  width: 222px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

/* line 61, ../../_sass/theme.scss */
.masthead-cnt-center {
  display: block;
  height: 128px;
  left: -30px;
  margin: 0 auto;
  position: relative;
  top: 60px;
  width: 260px;
}

/* line 71, ../../_sass/theme.scss */
.masthead-cnt-right {
  float: right;
  height: 168px;
  left: -12px;
  margin-bottom: -108px;
  position: relative;
  top: -82px;
  width: 360px;
}
/* line 80, ../../_sass/theme.scss */
.masthead-cnt-right ul {
  left: 130px;
  position: relative;
  top: 66px;
}
/* line 86, ../../_sass/theme.scss */
.masthead-cnt-right ul li {
  display: inline;
}

/* line 89, ../../_sass/theme.scss */
.masthead_right_logo {
  float: right;
  position: relative;
  top: -110px;
  left: 6px;
}

/* line 96, ../../_sass/theme.scss */
.listen_live {
  left: 50px;
  position: relative;
  top: -8px;
}

/* line 102, ../../_sass/theme.scss */
.phone_img {
  left: -74px;
  position: absolute;
  top: -32px;
}

/* line 111, ../../_sass/theme.scss */
.footer_ad {
  display: block;
  height: 134px;
  position: relative;
  text-align: center;
  top: -20px;
  width: 1010px;
}
/* line 119, ../../_sass/theme.scss */
.footer_ad img {
  margin: 0 auto;
  position: relative;
  top: 20px;
  width: 768px;
  display: block;
}

/* line 123, ../../_sass/theme.scss */
.copyright {
  display: none !important;
}

/* line 127, ../../_sass/theme.scss */
.copyright_2 {
  clear: both;
  color: white;
  display: block;
  font-size: 13px;
  margin: 5px auto;
  position: relative;
  top: 8px;
  width: 272px;
}
/* line 137, ../../_sass/theme.scss */
.copyright_2 .ei_logo > img {
  left: -20px;
  position: relative;
}

/* line 144, ../../_sass/theme.scss */
.footer_logo {
  position: relative;
  top: 60px;
  margin: 0px 20px;
  float: left;
  left: 20px;
}

/* line 157, ../../_sass/theme.scss */
[id*="divnowplaying"] {
  cursor: pointer;
  margin-left: 580px;
  overflow: hidden;
  position: absolute;
  top: 168px;
}

/* line 169, ../../_sass/theme.scss */
#siteheader .memberStatus {
  margin-left: 688px;
  position: absolute;
  top: -2px;
  background-color: none;
  border-radius: 0px;
  padding: 0px;
}

/* line 178, ../../_sass/theme.scss */
#siteheader [id*="divMemberAuthenticated"] {
  font-size: 14px !important;
  width: 164px !important;
}

/* line 183, ../../_sass/theme.scss */
#siteheader [id*="divMemberAuthenticated"] a {
  color: #df312e !important;
}

/* line 190, ../../_sass/theme.scss */
.memberStatus {
  font-size: 18px;
  margin: 10px auto;
  width: 258px;
}
/* line 195, ../../_sass/theme.scss */
.memberStatus .lnkSignup > a {
  background-color: #461b4d;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
}
/* line 202, ../../_sass/theme.scss */
.memberStatus .lnkLogin > a {
  background-color: #461b4d;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
}
/* line 209, ../../_sass/theme.scss */
.memberStatus #sidebar1 [id*="divMemberAuthenticated"] .lnkProfile a, .memberStatus .span4 [id*="divMemberAuthenticated"] .lnkLogout a {
  color: #df312e !important;
}

/* line 218, ../../_sass/theme.scss */
.onairnow {
  margin-bottom: 15px;
}
/* line 221, ../../_sass/theme.scss */
.onairnow h2 {
  font-size: 28px;
  color: #662770;
}
/* line 226, ../../_sass/theme.scss */
.onairnow div {
  font-size: 20px;
  line-height: 212%;
}

/* line 237, ../../_sass/theme.scss */
#siteheader .onairnow {
  margin: 0 auto 0 338px;
  position: absolute;
  top: 74px;
}
/* line 243, ../../_sass/theme.scss */
#siteheader .onairnow tr {
  float: left;
  width: 118px;
}
/* line 248, ../../_sass/theme.scss */
#siteheader .onairnow h2 {
  background: #c4d93f none repeat scroll 0 0;
  border-radius: 4px;
  color: #62206f;
  display: inline;
  float: right;
  font-size: 24px;
  padding: 4px;
  width: 194px;
}
/* line 258, ../../_sass/theme.scss */
#siteheader .onairnow h2 a {
  color: #62206f;
}
/* line 264, ../../_sass/theme.scss */
#siteheader .onairnow div {
  color: #fff;
  font-family: "Cabin",sans-serif;
  font-size: 20px;
  font-weight: 900;
}

/* line 277, ../../_sass/theme.scss */
.evt-title, .evtDTitle > span, .evtDesc-add a, .event-details-page .evtDDesc-col.evtDesc-add .evtVDTitle a, a.vnuVDWebsite {
  color: #df312e !important;
}

/* line 281, ../../_sass/theme.scss */
.evt-date-info, .date-dash, .evt-date-info-to, li.evtDDateLI, li.evtDDateLI-to, .event-details-page .event-details-info ul li.evtDDateLI, .event-home-teaser .event-teaser .event-cal-head ul li.active1 a, .event-home-teaser .event-teaser .event-cal-head ul li:hover a, .event-home-teaser .event-teaser .event-cal-head ul li:hover a, .event-home-teaser .event-teaser .event-cal-body ul li .event-obj .event-obj-col1 .date-info, .event-home-teaser .event-teaser .event-cal-body ul li .event-obj .event-obj-col1 .image-clip-holder, .event-home-teaser .event-teaser .event-cal-body ul li .event-obj .event-obj-col1 .date-info-to {
  background-color: #df312e !important;
}

/* line 285, ../../_sass/theme.scss */
.event-obj-col2 .location {
  color: #000000 !important;
}

/* line 290, ../../_sass/theme.scss */
.date-dash {
  margin: 0 6px !important;
}

/* line 294, ../../_sass/theme.scss */
.contextualIcons.horizontal {
  float: right;
}

/* line 299, ../../_sass/theme.scss */
.event-details-page {
  font-size: 16px !important;
  margin-top: 16px !important;
}

/* line 304, ../../_sass/theme.scss */
.image-clip-holder {
  width: 30px !important;
}

/* line 308, ../../_sass/theme.scss */
.event-list-teaser .event-teaser .event-cal-nopic ul li .event-obj .event-obj-col1 .evt-date-info .date-m, .event-list-teaser .event-teaser .event-cal-nopic ul li .event-obj .event-obj-col1 .evt-date-info-to .date-m {
  margin: -2px !important;
}

/* line 312, ../../_sass/theme.scss */
.feedsV2 .feeds-article .sharedCommenting .btnBar .actionButtons a.actComment, .feedsV2 .feeds-article .sharedCommenting .btnBar .actionButtons a.actLike {
  background: #df312e !important;
}

/* line 319, ../../_sass/theme.scss */
.s01 .readMore, .s01-alt .readMore, .s02 .readMore {
  text-transform: lowercase;
  font-weight: 800;
  color: #662770;
}

/* line 325, ../../_sass/theme.scss */
.s01 .readMore a, .s01-alt .readMore a, .s02 .readMore a {
  color: #662770;
  text-transform: lowercase;
  font-weight: 800;
}

/* line 331, ../../_sass/theme.scss */
.s01 .readMore a:hover, .s01-alt .readMore a:hover, .s02 .readMore a:hover {
  color: #2A0E30 !important;
}

/* line 335, ../../_sass/theme.scss */
.s01 .readMore:hover, .s01-alt .readMore:hover, .s02 .readMore:hover {
  color: #2A0E30 !important;
}

/* line 339, ../../_sass/theme.scss */
.readMore:before, .readMore:after {
  display: block;
  margin: 10px 0 10px;
}

/* line 348, ../../_sass/theme.scss */
.jsRotator {
  margin-bottom: 15px;
}

/* line 356, ../../_sass/theme.scss */
.polls, .instantPoll {
  margin-top: 15px;
}

/* line 360, ../../_sass/theme.scss */
.instantPoll input {
  top: 6px !important;
}
