$pics: "/Pics/";
$site-assets: "/SiteAssets/images/";

$tint-path: "/EI/MS/Images/frame/BG/tint/";

//Transparency PNGs
$black1:	url('#{$tint-path}000x01.png');
$black2:	url("#{$tint-path}000x02.png");
$black3:	url("#{$tint-path}000x03.png");
$black4:	url("#{$tint-path}000x04.png");
$black5:	url("#{$tint-path}000x05.png");
$black6:	url("#{$tint-path}000x06.png");
$black7:	url("#{$tint-path}000x07.png");
$black8:	url("#{$tint-path}000x08.png");
$black9:	url("#{$tint-path}000x09.png");
$black10:	url("#{$tint-path}000x10.png");
$black15:	url("#{$tint-path}000x15.png");
$black20:	url("#{$tint-path}000x20.png");
$black25:	url("#{$tint-path}000x25.png");
$black30:	url("#{$tint-path}000x30.png");
$black35:	url("#{$tint-path}000x35.png");
$black40:	url("#{$tint-path}000x40.png");
$black50:	url("#{$tint-path}000x50.png");
$black60:	url("#{$tint-path}000x60.png");
$black70:	url("#{$tint-path}000x70.png");
$black75:	url("#{$tint-path}000x75.png");
$black80:	url("#{$tint-path}000x80.png");
$black90:	url("#{$tint-path}000x80.png");

$white1:	url("#{$tint-path}fffx01.png");
$white2:	url("#{$tint-path}fffx02.png");
$white3:	url("#{$tint-path}fffx03.png");
$white4:	url("#{$tint-path}fffx04.png");
$white5:	url("#{$tint-path}fffx05.png");
$white6:	url("#{$tint-path}fffx06.png");
$white7:	url("#{$tint-path}fffx07.png");
$white8:	url("#{$tint-path}fffx08.png");
$white9:	url("#{$tint-path}fffx09.png");
$white10:	url("#{$tint-path}fffx10.png");
$white15:	url("#{$tint-path}fffx15.png");
$white20:	url("#{$tint-path}fffx20.png");
$white30:	url("#{$tint-path}fffx30.png");
$white40:	url("#{$tint-path}fffx40.png");
$white45:	url("#{$tint-path}fffx45.png");
$white50:	url("#{$tint-path}fffx50.png");
$white60:	url("#{$tint-path}fffx60.png");
$white70:	url("#{$tint-path}fffx70.png");
$white75:	url("#{$tint-path}fffx75.png");
$white80:	url("#{$tint-path}fffx80.png");
$white90:	url("#{$tint-path}fffx80.png");